body {
    height: 2000px;
}

.section1 {
    height: 400px;
    width: 100%;
    /* background: url('https://image.istarbucks.co.kr/upload/common/img/main/2023/231222_1_pc_pick_bg.jpg') fixed */
    background: url('../img/main.jpg') fixed;
    margin-top: 10px;
}
/* .section2 {
    height: 1000px;

    background: url('@/img/restaurant2.jpg');
} */
.title {
    font-size: 3em;
    width: 560px;
    color: black;
    font-family: sans-serif;
    /* 절대 좌표임 */
    position: absolute;
    /* 왼쪽 최상단을 원점으로 함 */
    bottom: 180px;
    right: -10px;
    /* 애니매이션 실행 */
    /* 실행시킬 애니매이션 이름, 몇초간할지 시간,  ease-out:시작이 빠르게 되고 종료 지점에서 완만한 속도로 끝나게 됩니다*/
    animation: slide 2s ease-out;
}

@keyframes slide {
    from {
        /* 애니매이션 시작 좌표 */
        right: -200px;
        /* 투명도를 의미함 */
        opacity: 0;
    }
    to {
        right: -10px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        left: 400px;
        opacity: 1;
    }
    to {
        left: -100px;
        opacity: 0;
    }
}
